<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head/head.ejs');%>
    <%- include('../head/header.ejs');%>
</head>

<body>
        <form action="/order" method="POST">
        <div class="row">
            <%- include('../order/order_detail.ejs');%>
        </div>
    </form>
</body>

<footer>
        <%- include('../footer/footer.ejs');%>
</footer>

</html>