<form action="sign_up" method="POST" action="/user/login">
    <div class="container col-md-5" style="margin-top: 3%; margin-bottom : 3%">
        <h3 style="margin-bottom: 10%">회원가입</h3>
        <h5 style="float:left; margin-right: 5%; width: 90px;">아이디 </h5> <input type="text" class="form-control" style="width:40%; margin-bottom: 5%" name='id'/>
        <h5 style="float:left; margin-right: 5%; width: 90px;">비밀번호 </h5> <input type="password" class="form-control" style="width:40%; margin-bottom: 5%" name='pw'/>
        <h5 style="float:left; margin-right: 5%; width: 90px;">이름 </h5> <input type="text" class="form-control" style="width:40%; margin-bottom: 5%" name='name'/>
    
        <h5 style="float:left; margin-right: 5%; width: 90px;">전화번호 </h5> <input type="text" class="form-control" style="width:40%; margin-bottom: 5%" placeholder="***-****-****" name='phoneNum'/>
        <input class="btn peach" type="submit" style="width: 100%" value="완료"/>
    </div>
</form>
